#!/usr/bin/make -f

verbose := $(if $(filter terse,$(DEB_BUILD_OPTIONS)),,V=1)

platforms = $(foreach p, a64 a64_axp20x a64_axp20x_cec,\
 generic_$p generic_$p_no-serial)

# Vagrant Cascadian <vagrant@debian.org>
platforms_like_generic_a64_axp20x += pine64_plus

# Vagrant Cascadian <vagrant@debian.org>
platforms_like_generic_a64_axp20x_no-serial += pinebook

# Arnaud Ferraris <arnaud.ferraris@gmail.com>
platforms_like_generic_a64_axp20x_no-serial += pinephone

# Arnaud Ferraris <arnaud.ferraris@gmail.com>
platforms_like_generic_a64_axp20x_no-serial += pinetab

# Jonas Smedegaard <dr@jones.dk>
platforms_like_generic_a64_axp20x_no-serial += teres_i

%:
	dh $@

# create most generic config, not possible to contain in patch
execute_before_dh_auto_build:
	touch configs/generic_a64_defconfig

override_dh_auto_build: $(platforms)
$(platforms):
	dh_auto_build -- $(verbose) TGT=build/$@ $@_defconfig
	dh_auto_build -- $(verbose) TGT=build/$@ CROSS_COMPILE=or1k-elf- scp
  # Remove execution permissions set by GCC.
  # Move to the parent directory for easyer installation.
  # Rename the binary file after the platform.
	install -m644 build/$@/scp.bin build/$@.bin

override_dh_link:
	dh_link -- $(foreach source,$(platforms),\
		$(foreach target,$(platforms_like_$(source)),\
			usr/lib/crust-firmware/$(source).bin usr/lib/crust-firmware/$(target).bin))
