#!/usr/bin/make -f

verbose := $(if $(filter terse,$(DEB_BUILD_OPTIONS)),,V=1)

LINKED_PLATFORM_SOURCES = pinebook

# Vagrant Cascadian <vagrant@debian.org>
platforms += pine64_plus

# Vagrant Cascadian <vagrant@debian.org>
platforms += pinebook

# Arnaud Ferraris <arnaud.ferraris@gmail.com>
platforms += pinephone

# Arnaud Ferraris <arnaud.ferraris@gmail.com>
platforms_like_pinebook += pinetab

# Jonas Smedegaard <dr@jones.dk>
platforms_like_pinebook += teres_i

%:
	dh $@

override_dh_auto_build: $(platforms)
$(platforms):
	dh_auto_build -- $(verbose) TGT=build/$@ $@_defconfig
	dh_auto_build -- $(verbose) TGT=build/$@ CROSS_COMPILE=or1k-elf- scp
  # Remove execution permissions set by GCC.
  # Move to the parent directory for easyer installation.
  # Rename the binary file after the platform.
	install -m644 build/$@/scp.bin build/$@.bin

override_dh_link:
	dh_link -- $(foreach source,$(LINKED_PLATFORM_SOURCES),\
		$(foreach target,$(platforms_like_$(source)),\
			usr/lib/crust-firmware/$(source).bin usr/lib/crust-firmware/$(target).bin))
